.body-bg {
    background-image: url("https://images.wallpaperscraft.ru/image/kod_stroki_programmirovanie_130775_1280x1280.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 461px;
    padding: 2em;
}