.login-box {
    max-width: 25em;
    margin: 0 auto;
}

.login-box p {
    color: rgb(209, 197, 197);
    font-size: 2em;
    text-align: center;
}

.group {
    color: rgb(209, 197, 197);
}

.group input {
    max-width: 250px;
    padding: 5px;
}

#error-auth {
    color: red;
    padding-top: 10px;
}